<div class="post--line-heading">
    <span>Other Posts</span>
</div>
<div class="row">
    <div class="col-md-6 post--feed">
        <img class="post--feed-image" src="/assets/images/post1.jpg">
    </div>
    <div class="col-md-6 post--feed">
        <img class="post--feed-image" src="/assets/images/post2.jpg">
    </div>
    <div class="col-md-6 post--feed">
        <img class="post--feed-image" src="/assets/images/post3.jpg">
    </div>
    <div class="col-md-6 post--feed">
        <img class="post--feed-image" src="/assets/images/post7.jpg">
    </div>
    <div class="col-md-6 post--feed">
        <img class="post--feed-image" src="/assets/images/post8.jpg">
    </div>
    <div class="col-md-6 post--feed">
        <img class="post--feed-image" src="/assets/images/post14.jpg">
    </div>
</div>