@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Kristi');
@import "ember-bootstrap/bootstrap";

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #353535;
}

.app {
    &-container {
        padding: 3rem 3rem;
    }
    &-navbar {
        padding: .2rem;
        background-color: #efe3e5;
        font-size: .8rem;
        font-weight:300;
        a {
            padding: 1.7rem;
            color: #353535;
        }
        a:hover {
            transition: .1s ease;
            color: #bba2a2;
            text-decoration:none;
        }
    }
    &-header {
        text-align:center;
        padding-bottom:4rem;
        &--title {
            font-size: 4.1rem;
            text-transform: uppercase;
            font-weight: 300;
            padding-top: 1.5rem;
            line-height: 100%;
        }
        &--subtitle {
            font-family: 'Kristi', cursive;
            font-size: 2rem;
            border-bottom: 1px solid #ddd;
            margin: 0 2rem;
            padding-bottom: 2rem;
        }
        &--image {
            border-radius:50%;
            width:100%;
        }
    }
}


.blog {
    padding: 2rem 0;
    &-image {
        width:100%;
    }
    &-post {
        padding:2px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: #1b1b1b;
    cursor:pointer;
    border: 2px solid white;
}
.overlay:hover {
    position:absolute;
    opacity:.4;
}

