<div class="row fashion-view">
    <div class="col-md-6 offset-1">
        <img class="fashion-view-image" src="/assets/images/diningroom2.jpg">
        <img class="fashion-view-image" src="/assets/images/diningroom1.jpg">
    </div>
    <div class="col-md-4 decor-picks">
        
            <p class="decor--title">Links</p>
            <p>Table - World Market
                <a href="https://www.worldmarket.com/product/rectangular+java+greyson+extension+table.do?sortby=ourPicks">Rectangular Java Greyson Table</a>
            </p>
            <p>Chairs - Wayfair
                <a href="https://www.wayfair.com/furniture/pdp/darby-home-co-radley-upholstered-dining-chair-daby6477.html?piid=22556499">Radley Upholstered Dining Chair</a>
            </p>
            <p>Placemats - Target
                <a href="https://www.target.com/p/natural-kitchen-textiles-decorative-charger-threshold-153/-/A-51593494?lnk=reg_items_view&regMode=REGST&registryId=d894f4680f354306bdcda4df2a109449&registryType=wedding&itemLineNum=35&backLinkName=my%20registry&backLinkUrl=%2Fgift-registry%2Fmyitems%3FregistryId%3Dd894f4680f354306bdcda4df2a109449%26type%3DWEDDING%26lnk%3Dreg_dashboard_manage%26lnk%3Dreg_mode_pdp&pageFrom=myitems">Natural Kitchen Textiles Charger</a>
            </p>
            <p>Ceramic Pitcher Vase - Target
                <a href="https://www.target.com/p/stoneware-pitcher-gray-stripe-hearth-hand-153-with-magnolia/-/A-52691410">Hearth & Hand Stoneware Pitcher</a>
            </p>
            <p>Candle Holders - World Market
                <a href="https://www.worldmarket.com/product/white+wood+pillar+candleholder.do?sortby=ourPicks">Whitewood Pillar Candle Holder</a>
            </p>
            <p>Buffet Table - Target
                <a href="https://www.target.com/p/52--wood-console-table-buffet-tv-stand---walnut---saracina-home/-/A-53016662">Saracina Walnut Buffet Table</a>
            </p>
            <p>Mason Jar Holder Center Piece- Michaels
                <a href="https://www.michaels.com/mason-jars-with-metal-basket-by-ashland/10534502.html#q=mason+jar&pmpt=qualifying&sz=24&start=103">Mason Jar Metal Basket Holder</a>
            </p>
            <p>Rug - RugsUSA
                <a href="https://www.rugsusa.com/rugsusa/rugs/rugs-usa-moroccan-trellis/Gray/200RZBD16A-P.html">Moroccan Trellis Gray Rug</a>
            </p>
            <p>Wall Clock - At Home 
                <a href="https://www.athome.com/46-in-giant-metal-clock-with-roman-numerals/124098604.html#q=wall+clock&start=1">Roman Numeral Metal Clock</a>
            </p>
            <p>Mirror - Home Goods</p>
            
    </div>
    <div class="col-md-1"></div>
</div>
