<div class="row fashion-view">
    <div class="col-md-6 offset-1" innerHTML={{model.images}}></div>
    <div class="col-md-4 decor-view--picks">

        <p class="decor-view--title">items in this room: </p>

        <div class="decor-view--item">
            <p class="decor-view--item-title">Table - World Market</p>
            <a href="https://www.worldmarket.com/product/rectangular+java+greyson+extension+table.do?sortby=ourPicks">Rectangular Java Greyson Table</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Chairs - Wayfair</p>
            <a href="https://www.wayfair.com/furniture/pdp/darby-home-co-radley-upholstered-dining-chair-daby6477.html?piid=22556499">Radley Upholstered Dining Chair</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Placemats - Target</p>
            <a href="https://www.target.com/p/natural-kitchen-textiles-decorative-charger-threshold-153/-/A-51593494?lnk=reg_items_view&regMode=REGST&registryId=d894f4680f354306bdcda4df2a109449&registryType=wedding&itemLineNum=35&backLinkName=my%20registry&backLinkUrl=%2Fgift-registry%2Fmyitems%3FregistryId%3Dd894f4680f354306bdcda4df2a109449%26type%3DWEDDING%26lnk%3Dreg_dashboard_manage%26lnk%3Dreg_mode_pdp&pageFrom=myitems">Natural Kitchen Textiles Charger</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Ceramic Pitcher Vase - Target</p>
            <a href="https://www.target.com/p/stoneware-pitcher-gray-stripe-hearth-hand-153-with-magnolia/-/A-52691410">Hearth & Hand Stoneware Pitcher</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Candle Holders - World Market</p>
            <a href="https://www.worldmarket.com/product/white+wood+pillar+candleholder.do?sortby=ourPicks">Whitewood Pillar Candle Holder</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Buffet Table - Target</p>
            <a href="https://www.target.com/p/52--wood-console-table-buffet-tv-stand---walnut---saracina-home/-/A-53016662">Saracina Walnut Buffet Table</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Mason Jar Holder Center Piece- Michaels </p>
            <a href="https://www.michaels.com/mason-jars-with-metal-basket-by-ashland/10534502.html#q=mason+jar&pmpt=qualifying&sz=24&start=103">Mason Jar Metal Basket Holder</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Rug - RugsUSA</p>
            <a href="https://www.rugsusa.com/rugsusa/rugs/rugs-usa-moroccan-trellis/Gray/200RZBD16A-P.html">Moroccan Trellis Gray Rug</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title"p>Wall Clock - At Home</p>
            <a href="https://www.athome.com/46-in-giant-metal-clock-with-roman-numerals/124098604.html#q=wall+clock&start=1">Roman Numeral Metal Clock</a>
        </div>
        <div class="decor-view--item">
            <p class="decor-view--item-title">Mirror - Home Goods</p>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>

<!-- 

 <p>Coffee Table - Basset 
                <a href="https://www.overstock.com/Home-Garden/Bassett-Mirror-Country-Hitchcock-Brown-Wood-Rectangular-Cocktail-Table/14548042/product.html?recset=4b024cf0-9393-4b0e-97f4-aa6860df3643&refccid=ZDXMQJL3K6JZVNKGU6ZQALFRMQ&recalg=914,873,839&recidx=4"></a>
            </p>

            pillow 
            https://www.athome.com/white-mongolian-fur-pillow--22-in./124092925.html
            https://www.target.com/p/diamond-knit-chenille-oversized-square-throw-pillow-threshold-153/-/A-53975412?preselect=53479042#lnk=sametab

            Lantern
            https://www.pier1.com/landen-white-metal-lanterns/PS70454.html#q=lanterns&origin=gridswatch
-->