<div class="row fashion-view">
    <div class="col-md-6 offset-1" innerHTML={{model.images}}></div>
    <div class="col-md-4 decor-view--picks">

        <p class="decor-view--title">items in this room: </p>
        <p innerHTML={{model.content}}>

        </p>
        <!--<div class="decor-view--item">
            <p class="decor-view--item-title">Table - World Market</p>
            <a href="https://www.worldmarket.com/product/rectangular+java+greyson+extension+table.do?sortby=ourPicks">Rectangular Java Greyson Table</a>
        </div>-->

    </div>
    <div class="col-md-1"></div>
</div>

<!-- 

 <p>Coffee Table - Basset 
                <a href="https://www.overstock.com/Home-Garden/Bassett-Mirror-Country-Hitchcock-Brown-Wood-Rectangular-Cocktail-Table/14548042/product.html?recset=4b024cf0-9393-4b0e-97f4-aa6860df3643&refccid=ZDXMQJL3K6JZVNKGU6ZQALFRMQ&recalg=914,873,839&recidx=4"></a>
            </p>

            pillow 
            https://www.athome.com/white-mongolian-fur-pillow--22-in./124092925.html
            https://www.target.com/p/diamond-knit-chenille-oversized-square-throw-pillow-threshold-153/-/A-53975412?preselect=53479042#lnk=sametab

            Lantern
            https://www.pier1.com/landen-white-metal-lanterns/PS70454.html#q=lanterns&origin=gridswatch
-->