<div class="row fashion-view">
    <div class="col-md-5 offset-1">
         <img class="fashion-view-image" src="/assets/images/fashion1.jpg">
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4"><a href="http://i68.tinypic.com/mjrcwo.png"><img class="fashion-view-link" src="http://i68.tinypic.com/mjrcwo.png"></a></div>
            <div class="col-md-4"><a href="https://www.vestique.com/fly-away-top"><img class="fashion-view-link" src="/assets/images/links/green-top.jpg"></a></div>
            <div class="col-md-4"><a href="https://www.forever21.com/us/shop/catalog/product/F21/bottoms/2000289200/01?mrkgcl=1207&mrkgadid=3285773269&utm_source=google&utm_medium=cpc&utm_campaign=PLA_-_Brand&utm_term=438017002738_condition_new_product_type_womens_apparel_product_type_bottoms_p&utm_content=(not_set)&product_id=2000289200012&adpos=1o1&creative=260997936690&device=c&matchtype=&network=g&gclid=EAIaIQobChMI446q7Z_93AIVRwOGCh1stABcEAkYASABEgLHDPD_BwE"><img class="fashion-view-link" src="/assets/images/links/button-up-skirt.jpg"></a></div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
