<div class="row fashion-view">
    <div class="col-md-5 offset-1">
         <img class="fashion-view-image" src="/assets/images/{{model.image}}">
    </div>
    <div class="col-md-4 links-container">
        <div class="row" innerHTML={{model.content}}>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
