<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 about center">
            <p>Hey! Welcome to Trend & Tonic!</p>

            <p>My name is Kelly Rainwater, and I'm from Raleigh, NC. I work as a Software Developer, while also pursuing my
                other interests of decor and fashion.</p>

            <p>I went to school at the University of North Carolina at Wilmington, and got my degree in Computer Science with
                a minor in digital arts and graphics. I met my husband, James, while I was in school there, and we just got
                married in September of 2017. Now we both live in Raleigh with our little pup-child, Zoey.</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-10 about about--image-container center">
            <img class="about--image" src="assets/images/rainwaters.jpg">
            <img class="about--image" src="assets/images/zoey.jpg">
            <img class="about--image" src="assets/images/wedding.jpg">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 about center">
           <p>I started this blog because I love spending my weekends crafting projects for around the home, and of course
                shopping! I frequently get questions from friends and family about where I got certain decor items, or how
                I made signs hanging on the walls of the home, or where I find some of my outfits I wear - So I figured Id
                just start a blog and put it all out there!
            </p>
            <p>
                Maybe no one will read it, or maybe everyone will, either way, I love getting the chance to share some of things I enjoy
                with others!
            </p>
            <p>
                Happy Reading!
            </p>
        </div>
    </div>

</div>