<div class="app-container">
    <div class="app-header">
        <!--<div class="row justify-content-md-center">
            <div class="col-md-2">
                <img class="app-header--image" src="/assets/images/main-pic.jpg">
            </div> 
        </div>
        <div class="app-header--title">Kelly Rainwater</div>
        <div class="app-header--subtitle">A Life + Style Blog</div> -->
        <div class="app-header--title">trend<span class="app-header--ampersand">&</span>tonic</div>
        <div class="test-sub">A Life + Style Blog by Kelly Rainwater</div>
        <div class="app-navbar">
            <a class="navbar-link" href="/home">HOME</a>
            <a class="navbar-link" href="/about">ABOUT</a>
            <a class="navbar-link" href="/fashion">FASHION</a>
            <a class="navbar-link" href="">DECOR</a>
            <a class="navbar-link" href="/contact">SAY HELLO!</a>
            <span class="social-links-container">
                <a class="social-link" href="mailto:kvaughan584@gmail.com"><i class="far fa-envelope"></i></a>
                <a class="social-link" href="https://www.facebook.com/kellyvaughan91"><i class="fab fa-facebook-f"></i></a>
                <a class="social-link" href="https://www.instagram.com/kelly.rainwater/?hl=en"><i class="fab fa-instagram"></i></a>
                <a class="social-link" href="https://www.pinterest.com/kellyv91/"><i class="fab fa-pinterest-p"></i></a>
                <a class="social-link"><i class="fab fa-snapchat-ghost"></i></a>
            </span>
        </div>
    </div>
    {{outlet}}
    <div class="app-footer">
        <span>Kelly Rainwater</span>
        <span>kvaughan584@gmail.com</span>
    </div>
</div>