<div class="app-container">
    <div class="app-header">
        <!--<div class="row justify-content-md-center">
            <div class="col-md-2">
                <img class="app-header--image" src="/assets/images/main-pic.jpg">
            </div> 
        </div>
        <div class="app-header--title">Kelly Rainwater</div>
        <div class="app-header--subtitle">A Life + Style Blog</div> -->
        <div class="app-header--title">trend<span class="app-header--ampersand">&</span>tonic</div>
        <div class="app-header--subtitle">A Life + Style Blog by Kelly Rainwater</div>
        
        {{#bs-navbar class="app-navbar" type=type backgroundColor=bg collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
            <div class="navbar-header">
                {{navbar.toggle}}
            </div>
            {{#navbar.content}} 
                {{#navbar.nav as |nav|}} 
                    {{#nav.item}}
                        {{#nav.link-to "home" class="navbar-link"}}HOME{{/nav.link-to}}
                    {{/nav.item}} 
                    {{#nav.item}}
                        {{#nav.link-to "about" class="navbar-link"}}ABOUT{{/nav.link-to}}
                    {{/nav.item}} 
                    {{#nav.item}}
                        {{#nav.link-to "fashion" class="navbar-link"}}FASHION{{/nav.link-to}}
                    {{/nav.item}}
                    {{#nav.item}}
                        {{#nav.link-to "decor" class="navbar-link"}}DECOR{{/nav.link-to}}
                    {{/nav.item}} 
                    {{#nav.item}}
                        {{#nav.link-to "home" class="navbar-link"}}SAY HELLO!{{/nav.link-to}}
                    {{/nav.item}}
                    {{#nav.item}}
                        <a class="social-link" href="mailto:kvaughan584@gmail.com"><i class="far fa-envelope"></i></a>
                    {{/nav.item}}
                    {{#nav.item}}
                        <a class="social-link" href="https://www.facebook.com/kellyvaughan91"><i class="fab fa-facebook-f"></i></a>
                    {{/nav.item}}
                    {{#nav.item}}
                        <a class="social-link" href="https://www.instagram.com/kelly.rainwater/?hl=en"><i class="fab fa-instagram"></i></a>
                    {{/nav.item}}
                    {{#nav.item}}
                        <a class="social-link" href="https://www.pinterest.com/kellyv91/"><i class="fab fa-pinterest-p"></i></a>
                    {{/nav.item}}
                    {{#nav.item}}
                        <a class="social-link"><i class="fab fa-snapchat-ghost"></i></a>
                    {{/nav.item}}
                {{/navbar.nav}} 
            {{/navbar.content}} 
        {{/bs-navbar}}

        
    </div>
    {{outlet}}
 
</div>
<div class="app-footer">
    <div class="app-footer--bottom-bar">
        <div class="container">
            <span>Trend & Tonic</span><span>&#183;</span>
            <span>Kelly Vaughan</span><span>&#183;</span>
            <span>kvaughan584@gmail.com</span>
        </div>
    </div>
</div>

