<div class="app-container">
    <div class="app-header">
        <!--<div class="row justify-content-md-center">
            <div class="col-md-2">
                <img class="app-header--image" src="/assets/images/main-pic.jpg">
            </div> 
        </div>
        <div class="app-header--title">Kelly Rainwater</div>
        <div class="app-header--subtitle">A Life + Style Blog</div> -->
        <div class="app-header--title">trend
            <span class="app-header--ampersand">&</span>tonic</div>
        <div class="app-header--subtitle">A Life + Style Blog by Kelly Rainwater</div>
        
        {{#bs-navbar class="app-navbar" type=type backgroundColor=bg collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
            <div class="navbar-header">
                {{navbar.toggle}} MENU
            </div>
            {{#navbar.content}} 
                {{#navbar.nav as |nav|}} 
                    {{#nav.item}}
                        {{#nav.link-to "home" class="navbar-link"}}HOME{{/nav.link-to}}
                    {{/nav.item}} 
                    {{#nav.item}}
                        {{#nav.link-to "about" class="navbar-link"}}ABOUT{{/nav.link-to}}
                    {{/nav.item}} 
                    {{#nav.item}}
                        {{#nav.link-to "fashion" class="navbar-link"}}FASHION{{/nav.link-to}}
                    {{/nav.item}}
                    {{#nav.item}}
                        {{#nav.link-to "decor" class="navbar-link"}}DECOR{{/nav.link-to}}
                    {{/nav.item}} 
                    {{#nav.item}}
                        {{#nav.link-to "home" class="navbar-link"}}SAY HELLO!{{/nav.link-to}}
                    {{/nav.item}}
                {{/navbar.nav}} 
            {{/navbar.content}} 
        {{/bs-navbar}}

        
    </div>
    {{outlet}}
    <div class="app-footer">
        <span>Kelly Rainwater</span>
        <span>kvaughan584@gmail.com</span>
    </div>
</div>