<div class="app-container">
    <div class="app-header">
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <img class="app-header--image" src="/assets/images/main-pic.jpg">
            </div>
        </div>
        <div class="app-header--title">Kelly Rainwater</div>
        <div class="app-header--subtitle">A Life + Style Blog</div>
        <div class="app-navbar">
            <a href="">HOME</a>
            <a href="">FASHION</a>
            <a href="">DECOR</a>
            <a href="">SAY HELLO!</a>
        </div>
    </div>
    {{outlet}}
</div>