<div class="container">
    <div class="row contact">
        <div class="col-md-9">
            <div class="contact--email">
                <div class="contact--inner">
                    <div>    
                        Contact
                    </div>
                    <div>
                        Your Name: <input type="text" size=40>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
           {{sidebar-widget}}
        </div>
    </div>
</div>