<div class="container">
    <div class="row contact">
        <div class="col-md-9">
            <div class="contact--email">
                <div class="contact--inner">
                    <div class="contact--title">Contact</div>

                    <div class="contact--input-title">Your Name: </div>
                    <input type="text" size=50>
                    <div class="contact--input-title">Your Email:</div>
                    <input type="text" size=50>
                    <div class="contact--input-title">Your Message:</div>
                    <textarea rows="4" cols="50"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-3 mobile-hide">
           {{sidebar-widget}}
        </div>
    </div>
</div>