

<div class="container">
    <div class="fashion--title">Shop my favorite home decor picks!</div>
    <div class="fashion--subtitle">Click an image to view details on the outfit + accessories.</div>
    {{outlet}}
    <div class="row fashion--image-list-container">
        <div class="col-md-4">{{#link-to "decor.view" "2"}}<img class="fashion--image" src="/assets/images/decor2.jpg">{{/link-to}}</div>
        <div class="col-md-4">{{#link-to "decor.view" "1"}}<img class="fashion--image" src="/assets/images/decor1.jpg">{{/link-to}}</div>
        <div class="col-md-4">{{#link-to "decor.view" "3"}}<img class="fashion--image" src="/assets/images/decor3.jpg">{{/link-to}}</div>
    </div>
</div>
