

<div class="container">
    <div class="fashion--title">Shop my favorite home decor picks!</div>
    <div class="fashion--subtitle">Click an image to view details on the outfit + accessories.</div>
    {{outlet}}
    <div class="row fashion--image-list-container">
        {{#each model as |decor|}}
        <div class="col-md-4">{{#link-to "decor.view" decor.id}}<img class="fashion--image" src="/assets/images/{{decor.cover}}.jpg">{{/link-to}}</div>
        {{/each}}
    </div>
</div>
