<div class="container">
    {{outlet}}
    <div class="fashion--title">How to DIY on some current trends for way less than in the stores!</div>
    <div class="fashion--subtitle">Click on a post to see step by step instructions on how I recreated some of my favorite design trends.</div>
    {{#each model as |project|}}
    <div class="row fashion--image-list-container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="diy--title">{{project.title}}</div>
            <div class="diy--border"></div>
            {{#link-to "project" project.id}}
                <img class="fashion--image" src="/assets/images/{{project.image}}.jpg">
            {{/link-to}}
        </div>
        <div class="col-md-1"></div>
    </div>
    {{/each}}
</div>