


<div class="container">
    <div class="fashion--title">Shop my favorite styles!</div>
    <div class="fashion--subtitle">Click an image to view details on the outfit + accessories.</div>
    {{outlet}}
    <div class="row">
        <div class=""><img class="fashion--image" src="/assets/images/fashion1.jpg"></div>
        <div class=""><img class="fashion--image" src="/assets/images/fashion2.jpg"></div>
        <div class=""><img class="fashion--image" src="/assets/images/fashion3.jpg"></div>
        <div class=""><img class="fashion--image" src="/assets/images/fashion4.jpg"></div>
    </div>
</div>