{{outlet}}
<div class="container">
    <div class="row">
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <a href="">
                <img class="blog-image" src="/assets/images/post1.jpg">
            </a>
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post2.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post3.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post4.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post5.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post6.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post7.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post8.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post9.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post10.jpg">
        </div>
        <div class="col-md-3 blog-post">
            <div class="overlay"></div>
            <img class="blog-image" src="/assets/images/post11.jpg">
        </div>
    </div>
</div>