{{outlet}}
<div class="container">
    <div class="row">
        {{#each model as |post|}}
            <div class="col-md-3 blog-post">
                {{#link-to "post" post.id}}
                    <div class="overlay"></div>
                    <img class="blog-image" src="/assets/images/{{post.coverphoto}}.jpg">
                {{/link-to}}
            </div>
        {{/each}}
    </div>
</div>