<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="post">
                <div class="post--line-heading">
                    <span>May 22, 2018 / Lifestyle</span>
                </div>
                <div class="post--title">
                    our vacation in miami beach
                </div>
                <div class="post--content">
                    <p>Last week we went to Miami Beach, Florida for the first time, and we had a blast! We decided to drive, and started our trip by stopping in Savannah, GA, for an evening, 
                        and then making the rest of the drive to Miami. Overall, the city had so much to take in, but we were surprised by how expensive drinks and food were in the city. There
                        were so many cool sites and places to see, one week hardly seemed like enough time to see everything.</p>
                    <p class="post--subtitle">WHere we stayed:</p>
                    <p>We stayed at the oceanfront Palms Hotel on Collins Ave. I can honestly say it was a gorgeous hotel, and they clearly go above and beyond taking care of the grounds. 
                        It was complete with 2 resturants, 3 bars, and a pool sourrounded by tiki cabanas, palm trees, and loungers. There were two parrots that live on the premises 
                        which was a nice wel;come as you enteted the pool area each day. </p>
                    <img src="/assets/images/miami4.jpg">
                    <img src="/assets/images/miami2.jpg">
                    <img src="/assets/images/miami5.jpg">
                    <img src="/assets/images/miami3.jpg">
                    <img src="/assets/images/miami1.jpg">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="post--line-heading">
                <span>Other Posts</span>
            </div>
            <div class="row">
                {{#each model.posts as |post|}}
                    <div class="col-md-6 post--feed">
                        <img class="post--feed-image" src="/assets/images/post{{post}}.jpg">
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>