<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="post">
                <div class="post--title">
                    {{model.title}}
                </div>
                <div class="post--content" innerHTML={{model.content}}></div>
            </div>
        </div>
        <div class="col-md-3">
           {{sidebar-widget}}
        </div>
    </div>
</div>